<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">
	<insert id="addProduct" parameterType="productDto">
		INSERT INTO sbproduct
		(num, kind, productname, content, price, regdate,profile)
		VALUES(sbproduct_seq.NEXTVAL, #{kind }, #{productname },  #{content }, #{price }, SYSDATE,#{profile})
	</insert>
	
	<select id="getList" resultType="ProductDto">
		select num,productname,kind,content,price,regdate,profile,profile2
		from sbproduct
		order by num desc
	</select>
	
	<select id="productList" parameterType="productDto" resultType="productDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM
				(SELECT num, productname, kind, content, price, regdate, profile
				FROM sbproduct
				<choose>
					<when test="arr == ''">
						ORDER BY num DESC) result1)
					</when>
					<when test="arr == 'priceHighArr'">
						ORDER BY num ASC) result1)
					</when>
				</choose>
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	
	<select id="getCount" parameterType="productDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM sbproduct
		<choose>
			<when test="search != null">
				WHERE productname LIKE '%'||#{search}||'%' 
			</when>
		</choose>
	</select>	
	
	<select id="productListSearch" parameterType="productDto" resultType="productDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM
				(SELECT num, productname, kind, content, price, regdate, profile
				FROM sbproduct
				WHERE productname LIKE '%'||#{search}||'%'	  
				ORDER BY num DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
</mapper>